.body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(90vh - 40px);

  background-color: rgb(27, 27, 27);
}

.cart{
    border-radius: 5px;
    padding: 20px;
    width: 170px;
    height: 200px;
    background-color:   rgb(65, 65, 65);
}